// 可引用函数,需要时调用

// no-wrap
no-wrap()
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

// background-music
bg-image($url)
	background-image: url($url + "@2x.png")
	@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3)
		background-image: url($url + "@3x.png")

// expand-touch
expand-touch()
	position: relative
	&:before
		content: ""
		position: absolute
		top: -10px
		right: -10px
		bottom: -10px
		left: -10px